<html>
    <meta charset="utf-8">
    <title>Radha Rakhi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
  
   
    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
      .btn {
background-color: #f4511e;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
opacity: 0.6;
transition: 0.3s;
margin: auto;
width: 50%;

}



.btn:hover {opacity: 1}
  </style>
  
  </head>
    <body>
        <body>

            <header id="header">
                <div class="container">
            
                  <div id="logo" class="pull-left">
                    <a href="/index#hero"><img src="img/logo.png" alt="" title="" /></img></a>
                    
                  </div>
            
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active" ><a href="/admin"><i class='fas fa-user-circle'></i>  <%= userinfo.user %> </a></li>
                      <li><a href="/logout">Logout</a></li>

                    </ul>
                  </nav>
                  <!-- #nav-menu-container -->
                </div>
              </header><br>
       <center> <h3>Welcome to admin dashboard<br></h3>
       <b><a href="/upload" target="_blank"><button class="btn">Add Product</button></a></b><br>
       <b><a href="/deleterak" target="_blank"><button class="btn">Delete Product</button></a></b>
       <b><a href="/addproducttype" target="_blank"><button class="btn">Add Product Type(Keyword)</button></a></b>
       <b><a href="/delproducttype" target="_blank"><button class="btn">Delete Product Type(Keyword)</button></a></b>
       <b><a href="/showorders" target="_blank"><button class="btn">Show Orders</button></a></b>
       <b><a href="/addanyuser" target="_blank"><button class="btn">Add User</button></a></b>
       <b><a href="/deleteuser" target="_blank"><button class="btn">Delete User</button></a></b>
       <b><a href="/showfeed" target="_blank"><button class="btn">Show Feedback</button></a></b>
       <b><a href="/adminpassword" target="_blank"><button class="btn">Change Password</button></a></b>
       <b><a href="/addkeyword" target="_blank"><button class="btn">Add Keyword(with per)</button></a></b>
        <b><a href="/delkeyword" target="_blank"><button class="btn">Delete Keyword(with per)</button></a></b>
        <b><a href="/addkeywordwo" target="_blank"><button class="btn">Add Keyword(without per)</button></a></b>
        <b><a href="/delkeywordwo" target="_blank"><button class="btn">Delete Keyword(without per)</button></a></b>
        <br>
        
       
       </center>
      
        
       

        
        <!-- Required JavaScript Libraries -->
 <script src="lib/jquery/jquery.min.js"></script>
 <script src="lib/bootstrap/js/bootstrap.min.js"></script>
 <script src="lib/superfish/hoverIntent.js"></script>
 <script src="lib/superfish/superfish.min.js"></script>
 <script src="lib/morphext/morphext.min.js"></script>
 <script src="lib/wow/wow.min.js"></script>
 <script src="lib/stickyjs/sticky.js"></script>
 <script src="lib/easing/easing.js"></script>

 <!-- Template Specisifc Custom Javascript File -->
 <script src="js/custom.js"></script>

 <script src="contactform/contactform.js"></script>
    </body>
</html>