<html>
    <meta charset="utf-8">
    <title>Radha Rakhi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
  
   
    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="favicon.ico" rel="shortcut icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

   <link rel="stylesheet" type="text/css" href="css/util.css">
   <link rel="stylesheet" type="text/css" href="css/main.css">
   
</head>
<body>
    <header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <a href="/index#hero"><img src="img/logo.png" alt="" title="" /></img></a>
            
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="/index#hero">Home</a></li>
                <li><a href="/index#about">About Us</a></li>
                <li><a href="/index#portfolio">Portfolio</a></li>
                <li><a href="/shop" target="_blank">Products</a></li>
                <li><a href="/index#contact">Contact Us</a></li>
                <li class="menu-active" ><a href="/member"><i class='fas fa-user-circle'></i>  <%= userinfo.user %> </a></li>
                <li><a href="/logout">Logout</a></li>
                
            </ul>
          </nav>
          <!-- #nav-menu-container -->
        </div>
      </header>
      <!-- #header -->
      <br>
      <center><h3>Password changed Successfully!</h3></center>
      <script src="lib/jquery/jquery.min.js"></script>
      <script src="lib/bootstrap/js/bootstrap.min.js"></script>
      <script src="lib/superfish/hoverIntent.js"></script>
      <script src="lib/superfish/superfish.min.js"></script>
      <script src="lib/morphext/morphext.min.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/stickyjs/sticky.js"></script>
      <script src="lib/easing/easing.js"></script>
    
      <!-- Template Specisifc Custom Javascript File -->
      <script src="js/custom.js"></script>
    
      <script src="contactform/contactform.js"></script>
    
    
    </body>
    
    </html>