<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Privacy Policy</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


 
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  

</head>

<body>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/index#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="/shop">Products</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <% if(!userinfo.user){ %>
            <li ><a href="/login">Login</a></li>
            <% } %>
            <% if(userinfo.user && userinfo.role == 'member'){ %>
              <li><a href ="/member"><i class='fas fa-user-circle'></i> <%= userinfo.user %></a></li>
              <li><a href ="/logout">Logout</a></li>
  
            <% } %>
            <% if(userinfo.user && userinfo.role == 'admin'){ %>
              <li><a href ="/admin"><i class='fas fa-user-circle'></i> <%= userinfo.user %></a></li>
              <li><a href ="/logout">Logout</a></li>
            <% } %>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <br><br><br>
  <center><h2 style="color:black"><b><u>Privacy Policy</u></b></h2></center>
  <div class="container">
     <h4 style="color:black"><b>Introduction</b></h4>
     <hr>
     We value the trust you place in us. That's why we insist upon the highest standards for customer information privacy. Please read the following statement to learn about our information gathering.<br><br>

    Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.<br><br>

    By visiting this Website or mobile application you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Website.<br><br>

    By mere use of the Website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Use.

    <hr>
    <h4 style="color:black"><b>Information Collect</b></h4>
    <hr>
    We only collect information that is provided by you.
    In general, you can browse the Website without telling us who you are or revealing any personal information about yourself. 
    Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. 
    You always have the option to not provide information by choosing not to use a particular service or feature on the Website.
     We use this information to protect and serve our users.We use data collection devices such as "cookies" on certain pages of the Website to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. 
     "Cookies" are small files placed on your hard drive that assist us in providing our services. We offer certain features that are only available through the use of a "cookie". 
     Cookies can also help us provide information that is targeted to your interests. Most cookies are "session cookies," meaning that they are automatically deleted at the end of a session.
     <hr>
     <h4 style="color:black"><b>Confidentiality</b></h4>
     <hr>
     Your information is regarded as confidential and therefore will not be divulged to any third party, unless if legally required to do so to the appropriate authorities.<br><br>

    We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by us will only be in connection with the provision of agreed services.
    <hr>
    <h4 style="color:black"><b>Sharing of Personal Information</b></h4>
    <hr>
    We may share personal information with our other affiliates.

    We may disclose personal information to third parties. This disclosure may be required for us to provide you access to our Services, to comply with our legal obligations, to enforce our User Agreement, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our Services. We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.<br><br>

    We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.<br><br>

    We and our affiliates will share / sell some or all of your personal information with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity, or re-organization, amalgamation, restructuring of business. Should such a transaction occur that other business entity (or the new combined entity) will be required to follow this privacy policy with respect to your personal information.<br><br>
    <hr>
    <h4 style="color:black"><b>How can you opt out, remove or modify information you have provided to us?</b></h4>
    <hr>
    You can request to have your information removed by clicking on the Contact Us in this home page.
    <br><br>
    Please note that we may maintain information about an individual sales transaction in order to complete that transaction and for record keeping purposes.
    <hr>
    <h4 style="color:black"><b>Disclaimer</b></h4>
    <hr>
    We cannot ensure that all of your private communications and other personal information (including sensitive information like credit card information and bank account number) will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect, that your personal information will always remain private. As a user of the Site, you understand and agree that you assume all responsibility and risk for your use of the Site, the internet generally, and the documents you post or access and for your conduct on and off the Site.
    <hr>
    </div>


 <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--<div class="copyright">
            
          </div>-->
          <div class="credits">
            <a href="/privacy">Privacy Policy</a> | <a href="/termsofuse">Terms of Use</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>

  <script src="contactform/contactform.js"></script>


</body>

</html>