
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta charset="utf-8">
  <title>Register Shop</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
   <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
   <link href="favicon.ico" rel="shortcut icon">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
 
   <!-- Bootstrap CSS File -->
   <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
   <!-- Libraries CSS Files -->
   <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <link href="lib/animate-css/animate.min.css" rel="stylesheet">
 


   <!-- Main Stylesheet File -->
   <link href="css/style.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">

   <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">

   <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">

   <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">

   <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">

   <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">

   <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">

   <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">

   <link rel="stylesheet" type="text/css" href="css/util.css">
   <link rel="stylesheet" type="text/css" href="css/main.css">
   
</head>
<body>

    <header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <a href="/index#hero"><img src="img/logo.png" alt="" title="" /></img></a>
            
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="/index">Home</a></li>
             <li><a href="/index#about">About Us</a></li>
              <li><a href="/index#portfolio">Portfolio</a></li>
              <li ><a href="/shop">Products</a></li>
              <li><a href="#contact">Contact Us</a></li>
              
              <li class="menu-active" ><a href="/login">Login</a></li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
        </div>
      </header>
     
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <div class="container">
                    <h5 style="color:black"><%= err%></h5>
                </div>
				<form class="login100-form validate-form" method="post" action="/adduser">

					<span class="login100-form-title p-b-34 p-t-27">
						Sign -Up
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter User Name">
						<input class="input100" type="text" name="username" placeholder="username" required>

						
					</div>



					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password" required>
						
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="/login">
							Login Page!
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
 <!-- Required JavaScript Libraries -->
 <script src="lib/jquery/jquery.min.js"></script>
 <script src="lib/bootstrap/js/bootstrap.min.js"></script>
 <script src="lib/superfish/hoverIntent.js"></script>
 <script src="lib/superfish/superfish.min.js"></script>
 <script src="lib/morphext/morphext.min.js"></script>
 <script src="lib/wow/wow.min.js"></script>
 <script src="lib/stickyjs/sticky.js"></script>
 <script src="lib/easing/easing.js"></script>

 <!-- Template Specisifc Custom Javascript File -->
 <script src="js/custom.js"></script>

 <script src="contactform/contactform.js"></script>
	
	


</body>
</html>