<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Terms of Use</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


 
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  

</head>

<body>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/index#hero"><img src="img/logo.png" alt="" title="" /></img></a>
        
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="/shop">Products</a></li>
          <li><a href="#contact">Contact Us</a></li>
          <% if(!userinfo.user){ %>
            <li ><a href="/login">Login</a></li>
            <% } %>
            <% if(userinfo.user && userinfo.role == 'member'){ %>
              <li><a href ="/member"><i class='fas fa-user-circle'></i> <%= userinfo.user %></a></li>
              <li><a href ="/logout">Logout</a></li>
  
            <% } %>
            <% if(userinfo.user && userinfo.role == 'admin'){ %>
              <li><a href ="/admin"><i class='fas fa-user-circle'></i> <%= userinfo.user %></a></li>
              <li><a href ="/logout">Logout</a></li>
            <% } %>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->
  <br><br><br>
  <center><h2 style="color:black"><b><u>Terms Of Use</u></b></h2></center>
  <div class="container">
     
     <hr>
    For the purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer on Platform by providing data while registering on the Platform as Registered User. The term "Radha Rakhi","We","Us","Our" shall mean Radha Rakhi and its affiliates.
    <br><br>
    When You use any of the services provided by Us through the Platform, You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right, at Our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to You. You shall ensure to review these Terms of Use periodically for updates/changes. Your continued use of the Platform following the posting of changes will mean that You accept and agree to the revisions. As long as You comply with these Terms of Use, We grant You a personal, non-exclusive, non-transferable, limited privilege to enter and use the Platform. By expressly accepting these Terms of Use, You also accept and agree to be bound by Radha Rakhi Policies including but not limited to Privacy Policy as amended from time to time.
    <hr>
    <h4 style="color:black"><b>User Account, Password, and Security</b></h4>
    <hr>
    If You use the Platform, You shall be responsible for maintaining the confidentiality of your Display Name and Password and You shall be responsible for all activities that occur under your Display Name and Password. You agree that if You provide any information that is untrue, inaccurate, not current or incomplete, We shall have the right to indefinitely suspend or terminate or block access of your membership on the Platform.
    <br>
    You agree to:-<br>
    <ul>
    <li>immediately notify Radha Rakhi of any unauthorized use / breach of your password or account and</li>

    <li>ensure that you exit from your account at the end of each session.</li>
    </ul>
    <hr>
    <h4 style="color:black"><b>Services Offered</b></h4>
    <hr>
    Radha Rakhi provides Internet based Services. We  manufacture many items including rakhi and many more.The Website/Application is a platform that offers the Users traditional products used in weddings and festivals.
    <br>User don't need to have to be logged in or should have an account with Radha Rakhi to place an order.
    <br>
    Note:-Successfully order placed doesn't gurantee your order.After placing order we will contact you within 24 hours,regarding the order.<br>
    Radha Rakhi has every right to cancel any order and the same will be communicated to the buyer.
    <hr>
    <h4 style="color:black"><b>User Conduct</b></h4>
    <hr>
    You agree, undertake and confirm that Your use of the Platform shall be strictly governed by the following binding principles:
    <ul>
        <li>You shall not host, display, upload, modify, publish, transmit, update or share any information which:</li>
        <ul>
            <li>belongs to another person and to which You do not have any right to </li>
            <li>is misleading in any way</li>
            <li>contains restricted or password-only access pages, or hidden pages or images (those not linked to or from another accessible page)</li>
            <li>tries to gain unauthorized access or exceeds the scope of authorized access to the Platform or to profiles, blogs, communities, account information, bulletins, friend request, or other areas of the Platform or solicits passwords or personal identifying information for commercial or unlawful purposes from other users</li>
            <li>interferes with another USER's use and enjoyment of the Platform or any other individual's User and enjoyment of similar services</li>
            <li>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to thecommission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.</li>
            <li>shall not be false, inaccurate or misleading</li>
            <li>shall not create liability for Us or cause Us to lose (in whole or in part) the services of Our internet service provider ("ISPs") or other suppliers</li>
        </ul>
        <li>A User may be considered fraudulent or loss to business due to fraudulent activity if any of the following scenarios are met:</li>
        <ul>
            <li>Misuse of another Users's phone/email</li>
            <li>Users uses invalid address, email and phone no.</li>
            <li>Users refuses to pay for an order</li>
            <li>Miscellaneous activities conducted with the sole intention to cause loss to business/revenue to Radha Rakhi</li>
            <li>Repeated request for fake/used order</li>   
        </ul>
        <li>Radha Rakhi may cancel any order that classify as 'Fraud orders' under certain criteria at any stage of the product delivery. An order can be classified as 'Fraud Order' if it meets with the below mentioned criteria, and any additional criteria as defined by Radha Rakhi:</li>
        <ul>
            <li>Multiple orders placed for same product at the same address, depending on the product category.</li>
            <li>Invalid address given in order details</li>
            <li>Any malpractice used to place the order</li>
            <li>Any order paced using a technological glitch/loophole.</li>
        </ul>
        <li>You shall not use any false e-mail address, impersonates any person or entity, or otherwise misleads Radha Rakhi by sharing multiple address and phone numbers or transacting with malafide intentions.</li>
        <li>You shall not attempt to gain unauthorized access to any portion or feature of the Platform, or any other systems or networks connected to the Platform or to any server, computer, network, or to any of the services offered on or through the Platform, by hacking, password "mining" or any other illegitimate means.</li>
        <li>You may not pretend that You are, or that You represent, someone else, or impersonate any other individual or entity</li>
        
    </ul>
    <hr>
    <br>
    </div>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--<div class="copyright">
            
          </div>-->
          <div class="credits">
            <a href="/privacy">Privacy Policy</a> | <a href="/termsofuse">Terms of Use</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>

  <script src="contactform/contactform.js"></script>


</body>

</html>